/*
colors

white-ish: #EEDEDE
light-red/orange: #CC99A8
dark black: #5C5869
blue: #84D3FA
orange: #F19890

*/

mark {
    padding: 0.5rem 1rem;
    background-color: #84d3fa !important;
    border-bottom: 4px solid black;
}
body {
    font-family: "Lato", Verdana, sans-serif;
    background-color: #EEDEDE;
    padding: 0rem 4rem;
    font-size: 1.1rem;
    color: #727272;
}

section {
    padding: 3rem 0rem;
}

h1,h2 {
    font-family: 'Amaranth', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

code {
    display: block;
    width: 60vw;
    background-color: #ffffff;
    font-family: monospace;
    padding: 1.5rem 2rem;
    font-size: 0.9rem !important;
    margin: 2rem 0rem;
}

p {
    font-size: 0.9rem;
}
/*
colors

white-ish: #EEDEDE
light-red/orange: #CC99A8
dark black: #5C5869
blue: #84D3FA
orange: #F19890

*/

ul, ol {
    padding: 2rem;
    max-width: 25vw;
    font-weight: 300;
    border-radius: 0rem 0rem 4rem 0rem;;
}

ul  {
    background-color: #CC99A8;
    color: white;
}

ul li, ol li {
    
    background-color: rgba( 252, 252, 252, 0.161 );
    padding-left: 0.5rem;
}

ol {
    background-color: #84D3FA;
}

img {
    max-width: 100%;
    height: auto;
}

.showBorder {
    border: 2px solid black;
}

.flavourSelect {
    display: block;
    background-color: #5C5869;
    /*padding-bottom: 2rem;
    border-top: 10px solid #84D3FA;*/
    padding: 1rem;
    max-width: 30rem;
    color: white;
    text-align: center;
}

.flavourSelect img {
    border-radius: 200rem;
}

.flavourSelect figcaption {
    padding-top: 1rem;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.5rem;
}

.flavourSelect em {
    font-family: "Lato", Verdana, sans-serif;
    font-size: 1rem;
}


.heading {
    background-color: #5C5869;
    color: #eedede;
    padding: 2rem;
    line-height: 0.5rem;
    margin: 0rem 4rem;
    text-align: center;
}

.heading h1 {
    font-size: 3rem;
}

a {
    color: #5C5869;
    font-weight: bold;
    text-decoration: none;
    transition: 0.45s;
}

a:hover {
    color: white;
    text-decoration: underline;
    background-color: #CC99A8;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

button {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    /*background-color: #F19890;*/
    background-color: rgba(241,152,144,0.52);
    color: white;
    font-size: 0.9rem;
    transition: 0.5s;
    border: none;
}

button:hover {
    background-color: rgba(241,152,144,1);
}

input[type=text] {
    width:40vw;
    padding: 0.75rem 1rem;
    margin-left: 1.5rem;
    box-sizing: border-box;
    transition: 0.5s;
    font-size: 1.25rem;
}

input[type=text]:active, input[type=text]:focus, input[type=text]:hover {
    background-color: rgba( 94, 247, 242, 0.385);
    border-color: #84D3FA;
    border: solid 5px;
}
.navButton {
    display: inline-block;
    font-weight: 300;
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.navButton:hover, .navButton:active, .navButton:focus {
    font-weight: bold;
    border-radius: 0;
    padding: 0.5rem 2rem;
    background-color: #EEDEDE;
    border-bottom: 3px solid black;
    text-decoration: none;
    color: #727272;    
}

@media (max-width: 48.50em) {

	.heading {
		margin: 0rem 0rem;
        line-height: 3rem;
	}
    
    .navButton {
        
    }
}
