*, *::after, *::before {
    box-sizing: border-box;
}

/* flexbox (container) */
.box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

/* navbar */
.nav-item {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* column grid */
.grid-col {
    flex: 1;
    padding: 2rem;
    /*border-right: 3px solid white;          /* temporary; only used to display grid lines; remove when content is added */
}

/* wide column grid */
.grid-mid {
    flex: 4;
    padding: 2rem;
    /*border-right: 3px solid white;          /* temporary; only used to display grid lines; remove when content is added */
}

/* order form grid */
.grid-order {
  flex: 3;
  
}

.grid-order-info {
  
  flex: 1;
}

/* 3x3 grid for menu items */
.grid-menu {
    flex: 1;
    padding: 0 2rem 2rem 0;
}

/* grid for lists */
.grid-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  
    align-items: flex-start;
    justify-content: flex-end;
}

/* grid for nav */
.navbar {
  align-items: center;
}

#journey {
  order: 1;
}

#about {
  order: 2;
}

#logo {
  order: 3;
  padding: 0;
  align-content: center;
}

#offers {
  order: 4;
}

#order {
  order: 5;
}
/* parallax header ================================== */
.heading {
  background-image: url(../img/interior.jpg);
  width: 100%;
  height: 100%;
  padding: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.heading h1 {
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 4rem;
  border-radius: 25rem;
  border: 5px solid #5C5869;
}

/*.circle {
  font-family: 'Amaranth', sans-serif;
  margin:-10rem;
  width:500px;
  height:500px;
  border-radius:25rem;
  font-size:3rem;
  color:#5C5869;
  line-height:500px;
  text-align:center;
  background-color: rgba(255,255,255,0.8);
  border: 5px solid #5C5869;
}*/