*, *::after, *::before {
    box-sizing: border-box;
}

/* flexbox (container) */
.box {
    display: -webkit-flex;
    display: -ms-flex;
    display; flex;
}

/* navbar */
.nav-item {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* column grid */
.grid-col {
    flex: 1;
    margin: 0;
    padding: 3rem 1.2rem 50rem 1.2rem;      /* change these padding values when actual content is added */
    border-right: 3px solid white;          /* temporary; only used to display grid lines; remove when content is added */
}