*, *::after, *::before {
    box-sizing: border-box;
}

/* general use ====================================== */

/* flexbox (container) */
.box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* column grid */
.grid-col {
  flex: 1;
  padding: 2rem;
  /*border-right: 3px solid white;          /* temporary; only used to display grid lines; remove when content is added */
}

/* wide column grid */
.grid-mid {
  flex: 4;
  padding: 2rem;
  /*border-right: 3px solid white;          /* temporary; only used to display grid lines; remove when content is added */
}

/* order page ======================================= */

/* order form grid */
.grid-order {
  flex: 3;
}

.grid-order-info {
  flex: 1;
}

/* menu listing ===================================== */

/* 3x3 grid for menu items */
.grid-menu {
  flex: 1;
  padding: 0 2rem 2rem 0;
}

/* list structure =================================== */

/* lists in about page */
.grid-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  align-items: flex-start;
  justify-content: flex-end;
}

/* navbar structure ================================= */

.nav-item {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.navbar {
  align-items: center;
}

#journey {
  order: 1;
  flex: 1;
}

#about {
  order: 2;
  flex: 1;
}

#logo {
  order: 3;
  padding: 0;
  align-content: center;
  flex: 1;
  justify-content: center;
  align-self: center;
}

#offers {
  order: 4;
  flex: 1;
}

#order {
  order: 5;
  flex: 1;
}

/* parallax header ================================== */

.heading {
  width: 100%;
  height: 100%;
  padding: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.heading h1 {
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 4rem;
  border-radius: 25rem;
  border: 5px solid #5C5869;
}

.heading-journey {
  background-image: url(../img/milkshakes-3.jpg);
}

.heading-about {
  background-image: url(../img/interior.jpg);
}

.heading-offers {
  background-image: url(../img/milkshakes-2.jpg);
}

.heading-order {
  background-image: url(../img/milkshakes.jpg);
}

/*.circle {
  font-family: 'Amaranth', sans-serif;
  margin:-10rem;
  width:500px;
  height:500px;
  border-radius:25rem;
  font-size:3rem;
  color:#5C5869;
  line-height:500px;
  text-align:center;
  background-color: rgba(255,255,255,0.8);
  border: 5px solid #5C5869;
}*/