/*
COLORS=====================
white-ish:          #FBF5F5
light-red/orange:   #CC99A8
dark black:         #5C5869
blue:               #84D3FA
orange:             #F19890
===========================
*/

*, *::after, *::before {
    margin: 0;
}

body {
    font-family: "Lato", Verdana, sans-serif;
    background-color: #FBF5F5;
    font-size: 1.1rem;
    color: #727272;
}

mark {
    display: inline-block;
    padding: 1.5rem 2rem;
    margin: -4rem 0 2rem 3rem;
    background-color: rgba(132,211,250,0.95) !important;
    border-bottom: 4px solid black;
    border-radius: 0 1.5rem 1.5rem 0;
}

h1, h2 {
    font-family: 'Amaranth', sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h3 {
    padding-top: 1rem;
    text-align: center;
}

p {
    line-height: 1.5rem;
}

hr {
    border: 0;
    border-top: 1px solid rgba(114, 114, 114, 0.15);
    margin: 2rem 0;
}

/* images =========================================== */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-logo {
    padding: 2rem 0;
    margin: 0 auto 2rem auto;
    width: 15%;
}

/* navbar =========================================== */

.navbar {
    background-color: white;
    text-align: center;
}

.nav-button {
    display: inline-block;
    font-weight: 300;
    padding: 1rem 2rem;
    background-color: white;
    text-decoration: none;
    border-right: 2px solid #FBF5F5;
}

.nav-button:hover, .nav-button:active, .nav-button:focus, .current-page {
    font-weight: bold;
    border-radius: 0;
    padding: 0.5rem 2rem;
    background-color: white;
    border-bottom: 3px solid black;
    color: #727272;
}

/* lists ============================================ */

ul, ol {
    padding: 2rem;
    max-width: 25vw;
    font-weight: 300;
    border-radius: 0rem 0rem 2rem 0rem;
    margin-right: 1rem;
    margin-top: -4rem;
}

ul  {
    background-color: #CC99A8;
    color: white;
}

ul li, ol li {
    background-color: rgba( 252, 252, 252, 0.161 );
    padding-left: 0.5rem;
}

ol {
    background-color: #84D3FA;
}

ul h2, ol h2 {
    letter-spacing: 0.1rem;
}

/* in-text links ==================================== */

a {
    color: #5C5869;
    font-weight: bold;
    transition: 0.45s;
}

a:hover {
    color: white;
    background-color: #CC99A8;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

/* buttons ========================================== */

button {
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgba(241,152,144,0.52);
    color: white;
    font-size: 1rem;
    transition: 0.5s;
    border: none;
}

button:hover {
    background-color: rgba(241,152,144,1);
}

.reset {
  background-color: rgba(132,211,250,0.52);
}

.reset:hover {
  background-color: rgba(132,211,250,1) !important;
}
/* text field ======================================= */

input[type=text] {
    width:40vw;
    padding: 0.75rem 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    transition: 0.5s;
    font-size: 1rem;
    width: 60%;
}

input[type=text]:active, input[type=text]:focus, input[type=text]:hover {
    background-color: rgba( 94, 247, 242, 0.385);
    border-color: #84D3FA;
    border: solid 2px;
}

/* header & footer ================================== */

#header-section {
    padding-bottom: 0;
    background-color: white;
}

#footer-section {
    background-color: #5C5869;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    padding: 5rem;
}

/* menu items ======================================= */

#featured-flavours img, #all-flavours img {
    transition: 0.45s;
}

#featured-flavours img:hover, #all-flavours img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#featured-flavours p, #all-flavours p {
    text-align: center;
}

.item-label {
    font-style: italic;
    opacity: 0.5;
}
