@media all and (max-width: 72.250em) {
  .navbar {
    margin: 0rem 5rem;
  }
}

@media all and (max-width: 48.50em) { 
  
  .box {
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  .grid-mid h2, .grid-mid .item-label {
    text-align: center;
    
  }
  
  #journey {
  order: 2;
}

  #about {
    order: 3;
  }

  #logo {
    order: 1;
  }
  
  .navbar {
    text-align: center;
    margin: 0rem 0rem;
  }
  .navbar img {
    width: 10%;
    height: 10%;
  }

  .heading img {
    display: block;
    margin: 2rem 8rem;
    width: 80vw;
  }
  
}