@media all and (max-width: 48.50em) { 
  
  .box {
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  .grid-mid h2, .grid-mid .item-label {
    text-align: center;
    
  }
  
  /*.grid-list { 
    flex-direction: column;
  }*/
  
}