@media all and (max-width: 48.50em) { 
  
  .box {
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  .grid-mid h2, .grid-mid .item-label {
    text-align: center;
    
  }
  
  #journey {
  order: 2;
}

  #about {
    order: 3;
  }

  #logo {
    order: 1;
  }

  /*.grid-list { 
    flex-direction: column;
  }*/
  
}