/* ~ 1156px */
@media all and (max-width: 72.250em) {
  nav {
    margin: 0rem 5rem;
  }
}

/* ~ 776px */
@media all and (max-width: 48.50em) {

  /* grid structure =================================== */

  .box {
    flex-direction: column;
    justify-content: space-around;
  }

  .grid-col {
    padding: 0 2rem 0 2rem;
    flex: 0.5;
  }
  
  .grid-journey {
    flex: 25;
    padding: 2rem;
  }
  
  [class^=journey-] {
    padding: 8rem 2rem;
  }

  .heading {
    padding: 8rem 0;
  }
  
  /* parallax header */
  .heading img {
    display: block;
    margin: 2rem 8rem;
    width: 60vw;
  }
  
  mark {
    width: 100%;
    margin: 0 0 0 0;
    margin-bottom: 1.5rem;
    
  }

  /* header & footer ================================== */

  /* rearrange navbar items */
  #logo     { order: 1; }
  #journey  { order: 2; }
  #about    { order: 3; }

  nav {
    text-align: center;
    margin: 0rem 0rem;
  }

  /* company logo */
  nav img {
    width: 20%;
  }
  

  footer {
    margin-top: 0;
  }

  /* buttons ========================================== */

  button {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
  }

  #buttons {
    text-align: center;
  }

  /* menu page ======================================== */

  #menu-content .box {
    padding: 0 2rem;
  }

  #menu-content h1, #menu-content h2, #menu-content p {
    text-align: center;
  }

  #menu-content img {
    width: 50%;
    margin: auto;
  }

  .grid-menu {
    padding: 0 0 3rem 0;
  }

  #sizes img {
    width: 30%;
  }

  #sizes h3 {
    padding: 0.5rem 0;
    margin-bottom: 5rem;
    background-color: white;
  }

  /* product view page ================================ */

  /* milkshake image */
  #milkshake-content .grid-col img {
    max-width: 50%;
    margin: auto;
  }

  /* flavour name & description */
  #milkshake-content h1, #milkshake-content .item-label {
    text-align: center;
  }

  /* journey page ===================================== */

  /* 
  [will insert here later]
  */

  /* about page ======================================= */

  #about-content .box {
    padding: 0 2rem;
  }

  .grid-list {
    flex-direction: column;
    justify-content: space-around;
  }

  ul, ol {
    max-width: 100%;
    margin-top: 1rem;
  }

  /* special offers page ============================== */

  /* 
  [will insert here after page design is updated]
  */

  /* order pages ====================================== */

  #order-content .box {
    padding: 0 1rem;
  }

  .grid-order {
    margin-right: 0;
  }

  /* order summary */
  .grid-order-info {
    margin-top: 3rem;
  }

  /* text area */
  textarea {
    width: 100%;
    max-width: 100%;
  }
}

/* ~530px */
@media (max-width: 33em) {

  /* menu page ======================================== */

  #sizes img {
    width: 40%;
  }

  #sizes h3 {
    margin-bottom: 0;
  }
}

/* ~ 425px */
@media (max-width: 26.50em) {

}

/* ~320px */
@media (max-width: 20em) {

}





