*, *::after, *::before {
    box-sizing: border-box;
}

.box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

/*.structure {
    display: flex;
    flex-direction: column;
}

.navigation, .footer {
    background-color: white;
    flex-direction: row;
    flex-grow: 1;
}

.middle {
    flex-direction: column;
    width: 100%;
}

.item {
    flex: 1;
    width: 33%;
    background-color: white;
}*/

/*.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
    width: 33%;
}*/

/* grid that spans the full width of screen */
.grid-full-width {
    background-color: white;
    margin: 0;
    padding: 1.2rem;
    flex: 1;
    border: 0.3rem solid #EEDEDE;
    text-align: center;
}

/* column grid container */
.grid-col-container {
    display: flex;
    text-align: center;
}

/* column grid */
.grid-col {
    background-color: white;
    margin: 0;
    padding: 1.2rem 1.2rem 20rem 1.2rem;
    flex: 1;
    border: 0.3rem solid #EEDEDE;
}

.section-item {
    display: flex;
    align-items: flex-start;
    border: 2rem;
}

.nav-item {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
    
@media (max-width: 48.50em) {

    .box {
        flex-wrap: wrap;
    }

    .grid-col-container {
        flex-direction: column;
    }

    .grid-col {
        padding-bottom: 10rem;
    }
}
